*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}

/*logo encabezado*/

#contenedor1{
	background: white;
	width: 100%;
	height: 100px;
	padding: 0px;
	overflow: hidden;
}

.logo img{
	float: left;
	margin: 20px 140px;
	position: absolute;
}

.cienciasbasicas img{
	float: left;
	margin: 0px 550px;
	position: relative;
}

/*Menu*/

#navegacion{
	background-color: #005883;
	width: 100%;
}

#navegacion ul{
	text-align: center;
}

#menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li{
	position: relative;
	display: inline-block;
}

#menu li a{
	color: white;
	display: block;
	padding: 10px 50px;
	text-decoration: none;
	font-family: 'arial';
	font-size: 18px;
}

#menu li a:hover{
	background-color: #F0B429;
	transition: all .6s;
	color: black;
}

/*submenu*/

#submenu{
	position: absolute;
	background: #005883;
	display: none; 
}

#submenu li a{
	display: block;
	padding: 10px 50px;
	color: white;
	text-decoration: none;
	font-family: 'arial';
	font-size: 17px;
}

#menu li:hover #submenu{
	display: block;
}

#menu li:hover #lecturas{
	display: block;
	color: black;
}

#lecturas{
	position: absolute;
	background: #005883;
	display: none; 
	
}

#lecturas li a{
	display: block;
	padding: 10px 50px;
	color: white;
	text-decoration: none;
	font-family: 'arial';
	font-size: 17px;
}

/*imagen seguridad*/

.imagen1{
	margin: 10px 0px;
	padding: 10px 15px;
	width: 100%;
}

/*contenedor 2*/

#contenedor2{
	width: 100%;
	height: 540px;
	background: #f0f0f0;
}

#contenedor2 .titulo{
	font-family: 'arial';
	text-align: center;
	padding: 20px;
}

.articulos{
	float: left;
	padding: 40px;
	margin-left: 90px;
	margin-top: 20px;
	width: 400px;
}

.articulos img{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.articulos p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
}

.articulos2{
	float: left;
	padding: 40px;
	margin-left: 130px;
	margin-top: 20px;
	width: 400px;
}

.articulos2 img{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.articulos2 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
}

/*contenedor 3*/

#contenedor3{
	width: 100%;
	height: 500px;
	background: #f0f0f0;
}

.titulo3{
	padding: 40px;
	margin-left: 100px;
	margin-top: 20px;
	overflow: hidden;
	font-family: 'Open Sans',sans-serif;
}

#textoinicio{
	padding-left: 140px;
	width: 700px;	
}

#textoinicio article{
	font-size: 16px;
	font-family: 'arial';
	text-align: justify;
	line-height: 20px;
	float: left;
}

#contenedor3 img{

	float: right;
	width: 260px;
	height: 260px;
	position: absolute;
	margin-left: 30px;
}


/*contenedor 4 - odjetivos del curso*/


#contenedor4{
	width: 100%;
	height: 700px;
	background: #ddd;
}


.tituloobjetivos1{
	font-family: 'arial';
	text-align: center;
	padding: 0px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.objetivosovi{
	float: left;
	padding: 40px;
	margin-left: 90px;
	margin-top: 20px;
	width: 400px;
}

.lista{
	float: left;
	padding: 10px;
	margin-left: 30px;
	margin-top: 20px;
	width: 400px;
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	line-height: 35px;

}



/*footer*/

#unad{
	color: white;
	width: 100%;
	line-height: 30px;
	text-align: right;
	margin-top: 40px;
	margin-left: -40px;
	font-family: 'arial';
}

#elaborado{
	color: white;
	width: 100%;
	line-height: 30px;
	text-align: right;
	margin-left: -40px;
	font-family: 'arial';

}

#año{
	color: white;
	width: 100%;
	line-height: 30px;
	text-align: right;
	margin-left: -40px;
	position: absolute;
	font-family: 'arial';
}

#logoblanco img{
	margin-top: -50px;
	margin-left: 80px;
	position: absolute;
	width: 300px;
	height: 80px;

}

.contenedor5{
	width: 100%;
	background: black;
	align-self: flex-end;
	line-height: 3;
	height: 200px;
	position: absolute;
}

/*contenedor 6 lectura 1*/

#contenedor6{
	width: 100%;
	height: 600px;
	background: #f0f0f0;
}

#contenedor6 .lecturatitulo{
	font-family: 'arial';
	text-align: left;
	padding: 20px;
}

.lectura11{
	float: left;
	padding: 40px;
	margin-left: 60px;
	margin-top: 20px;
	width: 100%;
}

.lectura11 img{
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.lectura11 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
	width: 1100px;
}

li{
	font-family: 'arial';
}

/*contenedor 7 lectura 2*/

#contenedor7{
	width: 100%;
	height: 600px;
	background: #f0f0f0;
} 

#contenedor7 .lecturatitulo{
	font-family: 'arial';
	text-align: left;
	padding: 20px;
}

.lectura12{
	float: left;
	padding: 40px;
	margin-left: 60px;
	margin-top: 20px;
	width: 100%;
}

.lectura12 img{
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.lectura12 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
	width: 1100px;
}

/*contenedor 8 lectura 3*/

#contenedor8{
	width: 100%;
	height: 700px;
	background: #f0f0f0;
} 

#contenedor8 .lecturatitulo{
	font-family: 'arial';
	text-align: left;
	padding: 20px;
}

.lectura13{
	float: left;
	padding: 40px;
	margin-left: 60px;
	margin-top: 20px;
	width: 100%;
}

.lectura13 img{
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.lectura13 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
	width: 1100px;
}

/*contenedor 9 lectura 4*/

#contenedor9{
	width: 100%;
	height: 600px;
	background: #f0f0f0;
} 

#contenedor9 .lecturatitulo{
	font-family: 'arial';
	text-align: left;
	padding: 20px;
}

.lectura14{
	float: left;
	padding: 40px;
	margin-left: 60px;
	margin-top: 20px;
	width: 100%;
}

.lectura14 img{
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.lectura14 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
	width: 1100px;
}

/*contenedor 10 lectura 5*/

#contenedor10{
	width: 100%;
	height: 600px;
	background: #f0f0f0;
} 

#contenedor10 .lecturatitulo{
	font-family: 'arial';
	text-align: left;
	padding: 20px;
}

.lectura15{
	float: left;
	padding: 40px;
	margin-left: 60px;
	margin-top: 20px;
	width: 100%;
}

.lectura15 img{
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.lectura15 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 20px;
	width: 1100px;
}

/*contenedor 11 video1*/

#contenedor11{
	width: 100%;
}

#contenedor11 .video1{
	padding: 60px;
	margin-left: 160px;
}

.textomultimedia1{
	margin-top: 50px;
	margin-left: 120px;
	font-size: 16px;
	font-family: 'arial';
}

/*contenedor 12 video2*/

#contenedor12{
	width: 100%;
}

#contenedor12 .video2{
	padding: 60px;
	margin-left: 160px;

}

/*contenedor 13 video3*/

#contenedor13{
	width: 100%;
}

#contenedor13 .video3{
	padding: 60px;
	margin-left: 160px;
	
}

/*contenedor 14 video4*/

#contenedor14{
	width: 100%;
}

#contenedor14 .video4{
	padding: 60px;
	margin-left: 160px;
	
}

/*contenedor 15 video5*/

#contenedor15{
	width: 100%;
}

#contenedor15 .video5{
	padding: 60px;
	margin-left: 160px;	
}

/*contenedor 16 video6*/

#contenedor16{
	width: 100%;
}

#contenedor16 .video6{
	padding: 60px;
	margin-left: 160px;	
}

/*contenedor 17 Juego1*/

#contenedor17{
	width: 100%;
}

#contenedor17 .juego1{
	padding: 60px;
	margin-left: 160px;	
}

#titulojuego1{
	margin-top: 60px;
	margin-left: 230px;
	font-family: 'arial';
}

/*contenedor 18 Juego2*/

#contenedor18{
	width: 100%;
}

#contenedor18 .juego2{
	padding: 60px;
	margin-left: 160px;
}

#titulojuego2{
	margin-top: 60px;
	margin-left: 230px;
	font-family: 'arial';
}

/*contenedor 19 Juego3*/

#contenedor19{
	width: 100%;
}

#contenedor19 .juego3{
	padding: 60px;
	margin-left: 160px;
}

#titulojuego3{
	margin-top: 60px;
	margin-left: 230px;
	font-family: 'arial';
}

/*contenedor 20 Juego4*/

#contenedor20{
	width: 100%;
}

#contenedor20 .juego4{
	padding: 60px;
	margin-left: 160px;
}

/*contenedor 21 Juego5*/

#contenedor21{
	width: 100%;
}

#contenedor21 .juego5{
	padding: 60px;
	margin-left: 160px;
}

/*contenedor 22 Juego6*/

#contenedor22{
	width: 100%;
}

#contenedor22 .juego6{
	padding: 60px;
	margin-left: 160px;
}

/*contenedor 23*/

#contenedor23{
	width: 100%;
	height: 100%;
}

#contenedor23 .tituloautor{
	font-family: 'arial';
	text-align: center;
	padding: 20px;
}

.autor{
	padding: 0px;
	margin-left: 230px;
	margin-top: 50px;
	width: 700px;
	height: 400px;
	
}

.autor img{
	width: 150px;
	height: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.autor p{
	text-align: justify;
	font-size: 16px;
	font-family: 'arial';
	line-height: 40px;
}

#twitter{
	
	height: 200px;
	margin-top: 40px;
	
}

.twitter-timeline{
	float: left;
	margin-left: 40px;
}

.citavideo{
	font-family: 'arial';
	margin-left: 150px;
	font-size: 14px;
	margin-top: -50px;
}
